@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply m-0 p-0 box-border;
  }

  .main {
    @apply w-[420px] min-w-[120px] min-h-[250px] max-h-[500px];
  }
}

/* Chrome, Edge, Safari */
.windows ::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  height: 4px; /* Thin scrollbar for horizontal scroll */
}

.windows ::-webkit-scrollbar-track {
  background: transparent; /* Fully transparent track */
}

.windows ::-webkit-scrollbar-thumb {
  background: #E2E5ED; /* Semi-transparent thumb */
  border-radius: 10px; /* Rounded thumb */
}

.windows ::-webkit-scrollbar-thumb:hover {
  background: #E2E5ED; /* Slightly darker on hover */
}