.recording-start-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.5);
}

.countdown-text {
    position: fixed;
    font-size: 120px;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.6; */
    /* background: linear-gradient(to top, #000000 50%, #434343 50%, #414345 50%, #232526 50%); */
    color: white;
    font-weight: bold;
    border-radius: 12px;
    font-family: sans-serif;
}

.recording-container {
    width: 100%;
    height: 100vh;
    position: relative;
    /* width: 885px; */
    /* height: 630px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* border-radius: 10px; */
}

.mic-icon {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-mic-outer {
    width: 120px;
    height: 120px;
    position: relative; /* Required for positioning the pseudo-element */
    background: #054b5e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* Ensure pseudo-element doesn't overflow */
}

.svg-mic {
    width: 80px;
    height: 80px;
    background: #0DABD8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}