.truncate-text {
  white-space: nowrap;         /* Prevent text from wrapping to the next line */
  overflow: hidden;            /* Hide the overflowed text */
  text-overflow: ellipsis;     /* Show an ellipsis when text overflows */
  width: 260px;                 /* Ensure it takes the full width available */
  display: inline-block;       /* Ensure the element behaves like a block but doesn't break the line */
}

.upload-status {
  margin-top: 12px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}

.upload-status .name {
  color: #21455E;
  font-size: 14px;
}
.data-info {
  color: #21455E;
}

